<header class="mb-3">
  <nav class="navbar navbar-expand-lg bg-loteria bg-gradient" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="assets/img/bolao-32x32.png" alt="Imagem de um trevo e quatro folhas" width="32" height="32" class="d-inline-block align-text-top">
        Bolão
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Menu de navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <app-menu class="container-fluid"></app-menu>
    </div>
  </nav>
</header>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
<footer class="fixed-bottom">
  <nav class="navbar bg-loteria bg-gradient">
    <div class="container-fluid text-white d-flex justify-content-between">
        <div>&#169; 2023 Todos os direitos reservados.</div>
        <div><i class="bi bi-bookmark"></i> Versão {{ version }}</div>
    </div>
  </nav>
</footer>
<app-loading></app-loading>
<app-mensagem></app-mensagem>
