<app-loading></app-loading>
<app-mensagem></app-mensagem>
<app-toaster></app-toaster>
<header class="mb-3">
  <app-menu></app-menu>
</header>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
<footer class="fixed-bottom">
  <nav class="navbar bg-loteria bg-gradient">
    <div class="container-fluid text-white d-flex justify-content-between">
        <div>&#169; 2023 Todos os direitos reservados.</div>
        <div><i class="bi bi-bookmark"></i> Versão {{ version }}</div>
    </div>
  </nav>
</footer>
