<header class="mb-3">
  <nav id="menu" class="navbar navbar-expand-lg bg-loteria">
    <div class="container-fluid">
      <a class="navbar-brand navbar-bg-loteria" routerLink="/">
        <i class="fa-solid fa-clover icon-rotate-45"></i> Loteria
      </a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Navigation menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/loteria" routerLinkActive="active">
              <i class="fa-solid fa-clover icon-rotate-45"></i> Loteria
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/concurso" routerLinkActive="active">
              <i class="bi bi-suit-club-fill"></i> Concurso
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bolao" routerLinkActive="active">
              <i class="fa-regular fa-futbol"></i> Bolão
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/entrar" routerLinkActive="active">
              <i class="bi bi-door-closed"></i> Entrar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inscricao" routerLinkActive="active">
              <i class="bi bi-person-plus"></i> Inscreva-se
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-breadcrumb></app-breadcrumb>
</header>
<main class="mb-3">
  <div class="container-fluid">
    <router-outlet />
  </div>
</main>
<footer class="mt-auto bg-loteria text-loteria">
  <nav class="navbar navbar-expand-lg sticky-bottom">
    <div class="container-fluid justify-content-end">
      <div class="text-end text-light">
        <small><i class="bi bi-bookmark"></i> Versão: 0.1.0</small>
      </div>
    </div>
  </nav>
</footer>