<div class="row justify-content-md-center">
    <div class="col col-xl-4 col-md-6">
        <div class="card shadow">
            <div class="card-header">
                <h1 class="h4 m-0"><i class="bi bi-door-closed"></i> Entrar</h1>
            </div>
            <div class="card-body">
                This is some text within a card body.
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a routerLink="/recuperar-senha" class="btn btn-outline-secondary btn-sm bg-gradient shadow-sm">
                            <i class="bi bi-key"></i> Recuperar senha
                        </a>
                    </div>
                    <div>
                        <button type="reset" class="btn btn-secondary btn-sm bg-gradient shadow-sm me-2">
                            <i class="fa-solid fa-broom"></i> Limpar
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm bg-gradient shadow-sm">
                            <i class="bi bi-door-closed"></i> Entrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>