<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-content-md-center min-vh-100 m-0">
        <div class="col col-xl-4 col-md-6 my-auto">
            <div class="card shadow">
                <div class="card-header">
                    <h1 class="h4 m-0"><i class="bi bi-door-closed"></i> Entrar</h1>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="username" class="form-label required">E-mail</label>
                        <div class="input-group">
                            <span class="input-group-text" id="username-icone"><i class="bi bi-envelope-at"></i></span>
                            <input formControlName="email" type="email" class="form-control" id="username" name="_username" value=""
                                autocomplete="username" placeholder="name@example.com" autofocus="autofocus" required="required">
                            @if (form.get('email')?.touched && form.get('email')?.errors?.['required']) {
                                <div class="validator-invalid">Informe o e-mail cadastrado para entrar.</div>
                            }
                            @if (form.get('email')?.touched && form.get('email')?.errors?.['email']) {
                                <div class="validator-invalid">Informe um e-mail inválido.</div>
                            }
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label required">Senha</label>
                        <div class="input-group">
                            <span class="input-group-text" id="password-icone"><i class="bi bi-key"></i></span>
                            <input formControlName="senha" type="password" class="form-control" id="password" name="_password"
                                autocomplete="current-password" required="required">
                                @if (form.get('senha')?.touched && form.get('senha')?.errors?.['required']) {
                                    <div class="validator-invalid">Informe a senha cadastrada para entrar.</div>
                                }
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a routerLink="/recuperar-senha" class="btn btn-outline-secondary btn-sm shadow">
                                <i class="bi bi-key"></i> Recuperar senha
                            </a>
                        </div>
                        <div>
                            <button type="reset" class="btn btn-secondary btn-sm shadow me-2">
                                <i class="fa-solid fa-broom"></i> Limpar
                            </button>
                            <button type="submit" class="btn btn-primary btn-sm shadow">
                                <i class="bi bi-door-closed"></i> Entrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>