<div class="card shadow-sm">
    <div class="card-header bg-gradient">
        @if (title() == 'create') {
        <h1 class="h4 m-0"><i class="bi bi-plus"></i> Novo</h1>
        } @else {
        <h1 class="h4 m-0"><i class="bi bi-pencil-fill"></i> Editar</h1>
        }
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="mb-3">
                        <label for="loteria_nome" class="form-label required">Nome</label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-alphabet"></i>
                            </div>
                            <input type="text" id="loteria_nome" formControlName="nome" autofocus="autofocus"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="mb-3">
                        <label for="loteria_slugUrl" class="form-label">Abreviação</label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-alphabet"></i>
                            </div>
                            <input type="text" id="loteria_slugUrl" formControlName="slugUrl" readonly="readonly"
                                class="form-control" />
                        </div>
                        <div id="loteria_slugUrl_help" class="form-text mb-0 help-text">Campo gerado automaticamente
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="loteria_apiUrl" class="form-label required">Endereço da API</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-link-45deg"></i>
                        </div>
                        <input type="text" id="loteria_apiUrl" formControlName="apiUrl" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="loteria_aposta" class="form-label required">Apostas</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-123"></i>
                        </div>
                        <input type="text" id="loteria_aposta" formControlName="apostas" class="form-control" />
                    </div>
                    <div id="loteria_aposta_help" class="form-text mb-0 help-text">Quantidade de dezenas permitidas em
                        uma única aposta. Separado por vírgula, exemplo: 6,7,8.</div>
                </div>
                <div class="mb-3">
                    <label for="loteria_dezenas" class="form-label required">Dezenas</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-123"></i>
                        </div>
                        <input type="text" id="loteria_dezenas" formControlName="dezenas" required="required"
                            class="form-control" />
                    </div>
                    <div id="loteria_aposta_help" class="form-text mb-0 help-text">Dezenas separadas por vírgula,
                        exemplo: 1,2,3,4,5,6,7,8,9,10.</div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-gradient d-flex justify-content-between">
            <div>
                <app-button name="Voltar" link="/loterias" iconClassCss="bi bi-arrow-left" actionType="btn-outline-secondary"></app-button>
            </div>
            <div>
                <app-button name="Limpar" (clickOutput)="reset()" buttonType="button" iconClassCss="fa-solid fa-broom" actionType="btn-secondary" class="me-2"></app-button>
                <app-button name="Salvar" buttonType="submit" iconClassCss="bi bi-floppy" actionType="btn-primary"></app-button>
            </div>
        </div>
    </form>
</div>