<form>
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-0"><i class="bi bi-flower2 icon-rotate-45"></i> Novo bolão</h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-9">
        <div class="mb-3">
          <label for="loteria" class="form-label">Loteria</label>
          <div class="input-group">
            <span class="input-group-text" id="loteria-icon"><i class="bi bi-list-stars"></i></span>
            <select class="form-select" id="loteria" aria-label="Loteria" aria-describedby="loteria-icon">
              <option value="0" selected>Selecione uma loteria</option>
              @for (loteria of loterias; track loteria.id) {
                <option value="{{ loteria.id }}">{{ loteria.nome }}</option>
              }
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="mb-3">
          <label for="concurso" class="form-label">Número do concurso</label>
          <div class="input-group">
            <span class="input-group-text" id="concurso-icon"><i class="bi bi-suit-club"></i></span>
            <input type="concurso" min="0" class="form-control" id="concurso" placeholder="0000" aria-label="Número do concurso" aria-describedby="concurso-icon">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome do bolão</label>
          <div class="input-group">
            <span class="input-group-text" id="nome-icon"><i class="bi bi-alphabet"></i></span>
            <input type="nome" maxlength="120" class="form-control" id="nome" placeholder="Nome do bolão" aria-label="Nome do bolão" aria-describedby="nome-icon">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="valor-cota" class="form-label">Valor da conta</label>
          <div class="input-group">
            <span class="input-group-text" id="valor-cota-icon">R$</span>
            <input type="money" min="0" class="form-control" id="valor-cota" aria-label="Valor da cota" aria-describedby="valor-cota-icon" placeholder="0,00">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-lg-10 col-md-9">
            <div class="mb-3">
              <label for="comprovante-cota" class="form-label">Comprovante da aposta</label>
              <div class="input-group">
                <span class="input-group-text" id="comprovante-icon"><i class="bi bi-filetype-pdf"></i></span>
                <input type="file" min="0" class="form-control" id="comprovante" aria-label="Comprovante da aposta" aria-describedby="comprovante-icon">
              </div>
              <div id="comprovante-help" class="form-text">
                Envie os comprovantes da aposta digitalizados em um único arquivo PDF.
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-md-3">
            <div class="mb-3 d-grid">
              <label for="comprovante-link" class="form-label">Comprovante</label>
              <a href="#" class="btn btn-secondary shadow-sm"><i class="bi bi-file-arrow-down"></i> Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer bg-gradient d-flex justify-content-between">
    <app-voltar-button link="/bolao"></app-voltar-button>
    <div>
      <app-limpar-button></app-limpar-button>
      <app-salvar-button></app-salvar-button>
    </div>
  </div>
</div>
</form>
