<div class="card shadow-sm">
    <div class="card-header">
        <h1 class="h4 m-0"><i class="fa-solid fa-toilet-paper-slash"></i> Página não encontrada</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4 my-5">
                <img src="public/assets/images/error-404.svg" width="100%">
            </div>
            <div class="col-6 d-flex flex-column align-items-start justify-content-center">
                <h1>Error 404</h1>
                <p>Página não encontrada!</p>
            </div>
        </div>
    </div>
</div>