<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-0"><i class="bi bi-suit-club-fill"></i> Concurso</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-loteria-subtle border-bottom-1">
    <select class="form-select" aria-label="Selecione uma loteria" [(ngModel)]="loteriaId" (change)="filtrarConcursoPorLoteria()">
      <option [value]="0" selected>Selecione uma loteria</option>
      @for (loteria of loterias; track loteria.id) {
        <option [value]="loteria.id">{{ loteria.nome }}</option>
      }
    </select>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead>
          <tr>
            <th scope="col">Número</th>
            <th>Dezenas</th>
            <th>Apurado</th>
            <th>Município</th>
            <th>UF</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          @for (concurso of concursos; track concurso.id) {
          <tr>
            <th scope="row">{{ concurso.numero }}</th>
            <td>{{ formatDezenas(concurso.dezenas) }}</td>
            <td>{{ concurso.apuracao | date: 'dd/MM/yyyy' }}</td>
            <td>São Paulo</td>
            <td>SP</td>
            <td class="text-center">
              @if (!concurso.dezenas) {
                <button type="button" class="btn btn-sm btn-secondary me-2"><i class="bi bi-cloud-download-fill"></i> Conferir</button>
              }
              <button type="button" class="btn btn-sm btn-secondary"><i class="bi bi-card-list"></i> Ver</button>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="6" class="text-center">Nenhum registro encontrado</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

