<form class="needs-validation was-validated" novalidate>
    <div class="card shadow-sm">
        <div class="card-header">
            <h1 class="h4 m-0"><i class="fa-solid fa-clover icon-rotate-45"></i>Nova loteria</h1>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <label for="nomeInput" class="form-label">Nome</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="nomeInputGroup"><i class="bi bi-alphabet"></i></span>
                        <input type="text" class="form-control" id="nomeInput" required aria-label="Nome"
                            aria-describedby="Nome completo da loteria.">
                            <div class="invalid-feedback">Campo inválido</div>
                        </div>
                    <div class="form-text">Coloque o nome completo da loteria.</div>
                </div>
            </div>
        </div>

        <div class="card-footer bg-gradient d-flex justify-content-between">
            <div>
                <a data-loading="true" class="btn btn-outline-secondary bg-gradient btn-sm shadow" href="#"><i
                        class="bi bi-arrow-left"></i> Voltar</a>
            </div>
            <div>
                <button type="reset" class="btn btn-secondary bg-gradient btn-sm shadow me-1"><i
                        class="fa-solid fa-broom"></i> Limpar</button>
                <button type="submit" class="btn btn-primary bg-gradient btn-sm shadow"><i class="bi bi-floppy"></i>
                    Salvar</button>
            </div>
        </div>
    </div>
</form>