<div class="card shadow-sm">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1 class="h4 m-0"><i class="fa-regular fa-futbol"></i> Bolão</h1>
            </div>
            <div>
                <a href="#" class="btn btn-secondary btn-sm bg-gradient shadow-sm">
                    <i class="bi bi-plus"></i> Novo
                </a>
            </div>
        </div>
    </div>

    <div class="card-body border-bottom">
        <form name="bolao_filtrar" method="get">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="mb-3">
                        <label for="loteria" class="form-label">Loteria</label>
                        <div class="input-group">
                            <span class="input-group-text" id="loteria_icon"><i
                                    class="fa-solid fa-clover icon-rotate-45"></i></span>
                            <select name="filter_loteria" id="filter_loteria" class="form-select" aria-label="Loteria"
                                aria-describedby="loteria_icon" autofocus="true">
                                <option>Selecione uma loteria</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="mb-3">
                        <label for="filter_concurso" class="form-label">Concurso</label>
                        <div class="input-group">
                            <span class="input-group-text" id="concurso_icon"><i class="bi bi-123"></i></span>
                            <input type="text" name="filter_concurso" value="" class="form-control" id="filter_concurso"
                                aria-label="Concurso">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="mb-3">
                        <label for="filter_bolao" class="form-label">Nome do bolão</label>
                        <div class="input-group">
                            <span class="input-group-text" id="bolao_icon"><i class="fa-regular fa-futbol"></i></span>
                            <input type="text" name="filter_bolao" value="" class="form-control" id="filter_bolao"
                                aria-label="Bolão">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="mb-3">
                        <label for="filter_apurado" class="form-label">Apurado</label>
                        <div class="input-group">
                            <span class="input-group-text" id="apurado_icon"><i
                                    class="bi bi-check-square-fill"></i></span>
                            <select name="filter_apurado" id="filter_apurado" class="form-select" aria-label="Apurado"
                                aria-describedby="apurado_icon">
                                <option>Selecione uma opção</option>
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end align-items-end">
                    <div>
                        <button type="button" id="filter_button_limpar"
                            class="btn btn-secondary btn-sm bg-gradient shadow-sm me-1"><i class="fa-solid fa-broom"
                                aria-hidden="true"></i> Limpar</button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-sm bg-gradient shadow-sm"><i
                                class="bi bi-funnel-fill"></i> Filtrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Bolão</th>
                    <th class="d-none d-xl-table-cell">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>Loteria</div>
                            <div><i class="bi bi-sort-alpha-down"></i></div>
                        </div>
                    </th>
                    <th class="d-none d-xxl-table-cell">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>Concurso</div>
                            <div><i class="bi bi-sort-numeric-down-alt"></i></div>
                        </div>
                    </th>
                    <th class="d-none d-xxl-table-cell">Apuração</th>
                    <th class="d-none d-xxl-table-cell">Apostas</th>
                    <th class="d-none d-xxl-table-cell">Apostadores</th>
                    <th class="d-none d-xxl-table-cell">Acerto</th>
                    <th class="text-center d-print-none">Ações</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td colspan="8" class="text-center">Nenhum registro encontrado</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12 col-sm-3">
                <select name="registros-por-pagina" id="registros-por-pagina" class="form-select form-select-sm"
                    aria-label="Quantidade de registro por página">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 text-center">
                <nav aria-label="Paginação">
                    <ul class="pagination justify-content-center pagination-sm m-0">
                        <li class="page-item" aria-current="page">
                            <button type="button" class="page-link" title="Bloco anterior de páginas"><i class="bi bi-chevron-double-left"></i></button>
                        </li>
                        <li class="page-item">
                            <button type="button" class="page-link" title="Página anterior">
                                <i class="bi bi-chevron-compact-left"></i><span class="d-none d-xl-inline-block"> Anterior</span></button>
                        </li>
                        <li class="page-item" aria-current="page">
                            <button type="button" class="page-link" title="Vai para a página"></button>
                        </li>
                        <li class="page-item">
                            <button type="button" class="page-link" title="Próxima página"><span
                                    class="d-none d-xl-inline-block">Próximo </span><i class="bi bi-chevron-compact-right"></i></button>
                        </li>
                        <li class="page-item" aria-current="page">
                            <button type="button" class="page-link" title="Próximo bloco de páginas"><i class="bi bi-chevron-double-right"></i></button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-sm-3 mt-1 text-sm-end text-center">
                xx registro(s).
            </div>
        </div>
    </div>

</div>