:root {
  --green: #198754;
  --green-100: #d1e7dd;
  --green-200: #a3cfbb;
  --green-300: #75b798;
  --green-400: #479f76;
  --green-500: #198754;
  --green-600: #146c43;
  --green-700: #0f5132;
  --green-800: #0a3622;
  --green-900: #051b11;
}

.bg-loteria {
  background-color: var(--green);
}

.card-header, .card-footer {
  background-color: var(--green-400) !important;
  color: white !important;
}

.bg-loteria-subtle {
  background-color: var(--green-200) !important;
}

.icon-rotate-45 {
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  display: inline-block;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }
