:root {
    --green: #198754;
    --green-100: #d1e7dd;
    --green-200: #a3cfbb;
    --green-300: #75b798;
    --green-400: #479f76;
    --green-500: #198754;
    --green-600: #146c43;
    --green-700: #0f5132;
    --green-800: #0a3622;
    --green-900: #051b11;
}

.navbar-nav {
    --bs-nav-link-hover-color: #fff!important;
}

.bg-loteria {
    background-color: var(--green)!important;
}

.text-loteria {
    color: var(--green-100)!important;
}

.bg-loteria-secondary {
    background-color: var(--green-100);
}

.border-loteria {
    --bs-border-opacity: 1;
    border-color: var(--green-100)!important;
}

.card-header {
    background-color: var(--green-100)!important;
}

.card-footer {
    background-color: var(--green-100)!important;
}

.border-loteria {
    --bs-border-opacity: 1;
    border-color: var(--green-200)!important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link {
    color: var(--green-200);
}

.nav-link.active {
    color: white !important;
}

.navbar-bg-loteria {
    color: var(--green-100)!important;
    border-color: var(--green-100)!important;
    background-color: transparent;
}

.icon-rotate-45 {
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    display: inline-block;
}

label.required:after{
   color: red;
   content: "*";
   margin-left: 2px;
   font-weight: bold;
}

.validator-invalid {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.validator-valid {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-valid-color);
}

.ng-touched.ng-invalid {
    border-color: var(--bs-form-invalid-border-color);
    /* padding-right: calc(1.5em + .75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem); */
}

.ng-touched.ng-invalid:focus {
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .25);
}

.ng-touched.ng-valid {
    border-color: var(--bs-form-valid-border-color);
    /* padding-right: calc(1.5em + .75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem); */
}

.ng-touched.ng-valid:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}