<div class="card shadow-sm">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1 class="h4 m-0"><i class="fa-solid fa-clover icon-rotate-45"></i> Loteria</h1>
            </div>
            <div>
                <app-button name="Novo" link="/loterias/new" iconClassCss="bi bi-plus" actionType="btn-secondary"></app-button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="d-table-cell d-sm-none">Loteria</th>
                    <th class="d-none d-xl-table-cell">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>Nome</div>
                            <div><i class="bi bi-sort-alpha-down"></i></div>
                        </div>
                    </th>
                    <th class="d-none d-xl-table-cell">Slug</th>
                    <th class="d-none d-xl-table-cell">API</th>
                    <th class="d-none d-xl-table-cell">Atualização</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @for (loteria of loterias; track loteria.id) {
                <tr>
                    <td class="d-table-cell d-xl-none">
                        <p><strong>Loteria</strong><br/>{{ loteria.nome }}</p>
                        <p><strong>Slug</strong><br/>{{ loteria.slugUrl }}</p>
                        <p><strong>API</strong><br/>{{ loteria.apiUrl }}</p>
                        <p><strong>Atualização</strong><br/>{{ (loteria.updatedAt ? loteria.updatedAt : loteria.createdAt) | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                    </td>
                    <td class="d-none d-xl-table-cell align-middle">{{ loteria.nome }}</td>
                    <td class="d-none d-xl-table-cell align-middle">{{ loteria.slugUrl }}</td>
                    <td class="d-none d-xl-table-cell align-middle">{{ loteria.apiUrl }}</td>
                    <td class="text-end d-none d-xl-table-cell align-middle">{{ (loteria.updatedAt ? loteria.updatedAt :
                        loteria.createdAt) | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td class="text-center align-middle">
                        <div class="dropdown dropstart">
                            <button class="btn btn-secondary bg-gradient btn-sm shadow" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <app-button name="Editar" actionType="dropdown-item" iconClassCss="bi bi-pencil-fill" link="/loterias/{{ loteria.id }}/edit"></app-button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="5" class="text-center align-middle">
                        <div class="alert alert-info m-0" role="alert">
                            Nenhum registro encontrado.
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12 col-sm-3">
                <select [(ngModel)]="pageSize" (change)="changePageSize()" class="form-select form-select-sm"
                    aria-label="Quantidade de registro por página">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <ngb-pagination class="d-flex justify-content-center m-0 p-0" size="sm"
                    (pageChange)="changePage($event)" 
                    [collectionSize]="collectionSize" 
                    [(page)]="page"
                    [pageSize]="pageSize" />
            </div>
            <div class="col-12 col-sm-3 mt-1 text-sm-end">
                {{ collectionSize }} registro(s).
            </div>
        </div>
    </div>
</div>